.container {
  display: flex;
  flex-direction: row;
}

.myProgress {
  background-color: #4caf50;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
}
.space {
  margin-bottom: 20px;
}
.red-bar {
  background-color: red !important;
  line-height: 30px;
  text-align: center;
  color: white;
}
